body {
    background-image: url("../images/interlaced.png");
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* rules for overall page layout */
header, 
footer {
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
}


.page {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-color: #cccccc;
    border-width: 0 0 1px 0;
}

footer {
    background-color: darkslategray;
    color: white;
    height: 3em;
    text-align: center;
    margin: 0 auto;
    line-height: 3em;
    border-top: solid .5em #4aaaa5;
    width: 100%;
}

header>.page {
    display: flex;
    align-items: center;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
}

.title {
    padding: .5em;
    width: 30%;
    min-width: 194px;
    color: white;
    flex-grow: 0;
    margin: 0;
}

.title,
.current-page,
.nav-button:hover {
    background: #4aaaa5;
}

.spacer {
    flex-grow: 1;
}

.navbar {
    flex-grow: 0;
}

.navbar:nth-child(2) {
    padding-left: 0;
    padding-right: 0;
}

.current-page {
    position: absolute;
    bottom: 0;
    left: 0;
    height: .7em;
    width: 100%;
}

.nav-button {
    position: relative;
    color: #777777;
    text-decoration: none;
    line-height: 68px;
    padding: 100% 1.7em calc(1.7em - 1px);

}

.nav-button:hover {
    color: white;
}

@media screen and (max-width: 542px) {
    .nav-button {
        padding: 100% 1em 1.7em;
    }
}