/* rules for overall page layout */
body {
    background-image: url("../images/interlaced.png");
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header, 
footer {
    flex-shrink: 0;
}

header {
    box-sizing: border-box;
}

.content {
    flex-grow: 1;
}

.page {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/* rules for typography */
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    line-height: 36px;
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}

p {
    margin: 1em 0;
}

.portfolio {
    font-family: Georgia, 'Times New Roman', Times, serif
}

/* rules for the header's internal layout */

header {
    background-color: white;
    width: 100%;
    border-style: solid;
    border-color: #cccccc;
    border-width: 0 0 1px 0;
}

header>.page {
    display: flex;
    align-items: center;
}

.title {
    padding: .5em;
    width: 30%;
    min-width: 194px;
    color: white;
    flex-grow: 0;
    margin: 0;
}

.title,
.current-page,
.nav-button:hover {
    background: #4aaaa5;
}

.spacer {
    flex-grow: 1;
}

.navbar {
    flex-grow: 0;
}

.nav-button {
    position: relative;
    color: #777777;
    text-decoration: none;
    padding: 1.7em 1.7em calc(1.7em - 1px);
    display: table-cell; /* The 'Contact' button on the 'Contact' page won't size correctly without this, and I have no idea why.  
        It centers the text vertically without a line-height hack though */
}

.current-page {
    position: absolute;
    bottom: 0;
    left: 0;
    height: .7em;
    width: 100%;
}

.nav-button:hover {
    color: white;
}

/* rules for the footer's internal layout */
footer {
    background-color: darkslategray;
    color: white;
    height: 3em;
    text-align: center;
    margin: 0 auto;
    line-height: 3em;
    border-top: solid .5em #4aaaa5;
    width: 100%;
}

/* rules for the content area of the page */
article {
    line-height: 2;
    margin-block-start: 1em;
}

.content-box {
    background: white;
    color: #777777;
    border: solid #cccccc 1px;
    margin: 1em auto;
    box-sizing: border-box;
    padding: 1em 2em;
}

.content-box>form {
    line-height: 2;
    margin-block-start: 1em;
}

.page-title {
    color: #4aaaa5;
    padding-bottom: .83em;
    border-bottom: solid #cccccc 2px;
}

.portrait {
    float: left;
    padding-right: 1.5em;
    padding-top: .5em;
    width: 25%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* styling for forms */
input, textarea {
    display: block;
    width: 100%;
    color: #777777;
    box-sizing: border-box;
    border: 1px solid #ccc;
    padding: 10px 14px;
    margin: 2px 0 10px;
}

input#message {
    resize: vertical;
}

input:focus, textarea:focus {
    border-color: #4aaaa5;
    border-left-width: .5em;
    outline: none !important; 
    box-shadow: none;
    padding-left: calc(15px - .5em) /* So the contents don't shift when the border expands */
}

input#submit {
    width: initial;
    background-color: #4aaaa5;
    color: white;
    margin-top: 16px;
}

/* styling for portfolio */
.portfolio {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: minmax(100px, auto) minmax(100px, auto);
    margin-top: 1.5em;
}

.portfolio>.thumbnail {
    position: relative;
}

.thumbnail>img {
    width: 100%;
}

.portfolio>.thumbnail>label {
    position: absolute;
    bottom: 10%;
    background: #4aaaa5;
    color: white;
    text-decoration: none;
    width: 100%;
    padding: .5em;
    text-align: center;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 2;
}

@media screen and (max-width: 980px) {
    
    
    .content.page {
        width: calc(768px - 2em);
        margin-left: 1em;
    }

    header>.page {
        padding-left: 17px;
        width: calc(100% - 17px);
    }
}

@media screen and (max-width: 768px) {
    .portrait {
        width: 50%;
    }

    .content.page {
        width: calc(100% - 2em);
    }
}

@media screen and (max-width: 640px) {
    .content.page {
        width: 100%;
        margin-left: 0;
    }

    .content-box {
        border-left: none;
        border-right: none;
    }

    header>.page {
        flex-wrap: wrap;
        padding-left: 0;
        width: 100%;
    }

    .title {
        width: 100%;
    }

    .spacer {
        width: 0;
        flex-grow: 0;
    }

    .portrait {
        width: 100%;
        float: none;
    }

    .navbar {
        margin: 0 auto;
    }

    .portfolio {
        grid-template-columns: auto;
    }
}
